services:
  db:
    image: postgres:15-alpine
    container_name: library_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    env_file:
      - .env

  redis:
    image: redis:6-alpine
    container_name: library_redis
    expose:
      - 6379

  app:
    build:
      context: .
    container_name: library_app
    command: sh -c "python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      SECRET_KEY: ${SECRET_KEY}
      DEBUG: ${DEBUG}
    depends_on:
      - db
      - redis
    env_file:
      - .env

volumes:
  postgres_data:
